<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Conclave uses the camera so you can turn on your video in a meeting.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Conclave uses the microphone so you can be heard in a meeting.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Conclave uses the local network to connect your call's audio and video to other people, for faster and more reliable meetings.</string>
	<key>SFU_CLIENT_ID</key>
	<string>public</string>
	<key>SFU_JOIN_URL</key>
	<string>https://conclave.acmvit.in/api/sfu/join</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
</dict>
</plist>
